<html>
<head>
<link href="/static/css/main.css" rel="stylesheet" media="screen">
<title>{{title}}</title>
</head>
<body>
	<div id="title">{{title}}</div>
	<hr>
	<div id="content">

		{% for content_item in content %}
		<div class="content_item">
            <div class="content_image"><img src="{{content_item.image}}"></div>
            <div class="content_text">
                <div class="content_href"><a href="{{content_item.link}}">{{content_item.title}}</a>{% if content_item.repeat_count %} [{{content_item.repeat_count}}]{% endif %}</div>
                <p>
                <div class="content_fetched">date retrieved: {{content_item.time_scraped}}</div>
            </div>
		</div>
		<br>
		{% endfor %}

	</div><!-- #content -->
</body>
</html>
